@media (max-width: 1075px) {
	.about__dot {
		display: none;
	}
	.about__photo {
		padding-top: 0;
		margin-bottom: 30px;
	}
	.footer__item {
		width: 25%;
		padding: 0;
	}
}

@media (max-width: 840px) {
	.about__item {
		padding: 382px 0px 30px;
		background-position: top;
		margin-bottom: 0;
		&:nth-child(even) {
			background-position: top;
		}
	}
	.about__box {
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.intro__title {
		font-size: 120px;
	}
	.intro__text {
		font-size: 20px;
	}
	.reason__inner {
		padding: 30px 0px;
	}
	.about__inner-help {
		padding-bottom: 40px;
	}
	.about__inner {
		padding: 40px 0px 10px;
	}
	.photo__inner {
		padding: 40px 0px;
	}
	.slick-arrow {
		display: none !important;
	}
	.footer__item {
		width: 50%;
		padding: 0;
		margin-bottom: 40px;
	}
	.footer__row {
		margin-bottom: 0;
	}
	.header__body {
		justify-content: flex-end;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	.header__list {
		justify-content: flex-end !important;
	}
	.header__list-item {
		margin-bottom: 10px !important;
	}
}
@media (max-width: 540px) {
	.intro {
		padding: 10px;
	}
	.intro__title {
		font-size: 100px;
	}
	.intro__text {
		display: none;
	}
	.intro__inner {
		border: 2px solid #ecb84c;
	}
	.title {
		font-size: 24px;
	}
	.text {
		font-size: 14px;
	}
	.reason__item {
		flex: 0 1 50%;
		margin-bottom: 30px;
	}
	.about__inner {
		padding-top: 30px;
	}
	.about__text {
		margin-bottom: 40px;
	}
	.footer__item {
		width: 100%;
	}
}
@media (max-width: 375px) {
	.reason__item {
		flex: 0 1 100%;
		margin-bottom: 30px;
	}
}
