@import "_reset.scss";
@import "_fonts.scss";

body {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #505050;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
	&-content {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0px 15px;
	}
}

.title {
	font-family: "Georgia";
	font-size: 32px;
	line-height: 1.18;
	color: #4e5665;
}

.text {
	line-height: 1.75;
	font-size: 16px;
	text-align: left;
}

@import "blocks/_header.scss";
@import "blocks/_reason.scss";
@import "blocks/_about.scss";
@import "blocks/_photo.scss";
@import "_slider.scss";
@import "blocks/_footer.scss";
